<div class="phone-detail-component">
  <div class="name-description-images">
      <div class="phone-image">
          <img ng-src="application-data/{{$ctrl.phoneData.images[$ctrl.activeImage]}}" ng-class="{selected:$ctrl.selected}" class="phone-image-img">
      <div>
      <div class="name-description">
            <span class="phone-name">{{$ctrl.phoneData.name}}</span><br>
            <span class="phone-description">{{$ctrl.phoneData.description}}</span><br><br>
            <span class="additional-features">Additional features:</span>
            <span class="additional-features-description">{{$ctrl.phoneData.additionalFeatures}}</span>
      </div><br>
      <div class="thumbnails">
         <div ng-repeat="image in $ctrl.phoneData.images">
            <a href="" ng-click="$ctrl.setActiveImage($index)"><img ng-src="application-data/{{image}}"></a>
         </div>
      </div>
  </div>
  
  <table class="phone-contents">
  <tr>
      <td><phone-content content="android"></phone-content></td>
      <td><phone-content content="battery"></phone-content></td>
      <td><phone-content content="camera"></phone-content></td>
      <td><phone-content content="connectivity"></phone-content></td>
  </tr>
  <tr>
      <td><phone-content content="display"></phone-content></td>
      <td><phone-content content="hardware"></phone-content></td>
      <td><phone-content content="sizeAndWeight"></phone-content></td>
      <td><phone-content content="storage"></phone-content></td>
  </tr>
  </table>
</div>