logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
*.[oa]
*~
*.txt
*.pdf
bower_components/bower_components.min.js
spell.min.js
main.min.js
bundle.min.js
bundle.min.css