.phones-component
{
    position:relative;
    left:200px;
    min-width:1000px;  
    display:-ms-inline-grid;  
    display:inline-grid
}

/*Search and FIlter side bar*/

.phones-search
{
    position:relative;
    top:3.6em;
    left:-8px;
    border:1px solid lightgrey;
    width:29%;
    max-width:200px;
}
.phones-search:hover,.searchActiveClass, .filter-by select:hover
{
    border:1px solid rgb(31, 131, 224);
}
.phones-search input
{
     border:none;
     outline:none; 
}
.filter-by select
{
    position:relative;
    top:4.2em;
    left:-8px;
    min-height:25px;
    width:29%;
    max-width:200px;
    height:.7em;
    border:1px solid lightgrey;
}

/* List of phones */
.phones-container
{
    position:relative;
    left:200px;
    width:69%;
    max-width:650px;
    min-width:500px;
    
}
.phone-field
{
     height:120px;
     border:1px solid lightgrey;
     margin-bottom:.75em;
     
     padding-right:1.5em;  
      
}

.phone-field img
{
    margin-top:.5em;
    margin-right:.9em;
    float:left;
    padding-left:1.5em
}
.phone-field-name
{
   margin-top:.5em;
   font-size:medium;
   font-weight:600;
}
.phone-field-name
{
    height:8%
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInBob25lcy5jb21wb25lbnQuY3NzIiwicGhvbmUtZGV0YWlsLWNvbXBvbmVudC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7O0lBRUksa0JBQWE7SUFDYixXQUFBO0lBQ0gsaUJBQUE7SUFDRyx3QkFBbUI7SUFBbkIsbUJBQW1CO0NBQ3RCOztBQUVELDhCQUE4Qjs7QUFFOUI7O0lBRUksa0JBQWtCO0lBQ2xCLFVBQVM7SUFDVCxVQUFVO0lBQ1YsMkJBQTJCO0lBQzNCLFVBQVU7SUFDVixnQkFBZ0I7Q0FDbkI7QUFDRDs7SUFFSSxtQ0FBbUM7Q0FDdEM7QUFDRDs7S0FFSyxZQUFZO0tBQ1osYUFBYTtDQUNqQjtBQUNEOztJQUVJLGtCQUFrQjtJQUNsQixVQUFTO0lBQ1QsVUFBVTtJQUNWLGdCQUFnQjtJQUNoQixVQUFBO0lBQ0EsZ0JBQUE7SUFDSCxZQUFBO0lDRUcsMkJBQTJCO0NEQS9COztBQ0dBLG9CQUFvQjtBQUNwQjs7SURDSSxrQkFBVTtJQUNWLFdBQUE7SUFDQSxVQUFBO0lDRUEsZ0JBQWdCO0lEQW5CLGdCQUFBOztDQ0dBO0FBQ0Q7O0tEQ0ssYUFBQTtLQ0VBLDJCQUEyQjtLREEzQixvQkFBb0I7O0tBRXhCLG9CQUFBOztDQUVEOztBQ0dBOztJRENJLGdCQUFXO0lBQ1gsa0JBQWtCO0lBQ3JCLFdBQUE7SUFDRCxrQkFBQTtDQ0VDO0FBQ0Q7O0dEQ0csZ0JBQWdCO0dBQ2xCLGlCQUFBO0dBQ0QsZ0JBQUE7Q0NFQztBQUNEOztJQUVJLFNBQVM7Q0FDWiIsImZpbGUiOiJwaG9uZS1kZXRhaWwtY29tcG9uZW50LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5waG9uZXMtY29udGFpbmVyXHJcbntcclxuICAgIGhlaWdodDoxMjBweDtcclxuICAgIGJvcmRlcjoxcHggc29saWQgZ3JleTtcclxufSIsIi5waG9uZXMtY29tcG9uZW50XHJcbntcclxuICAgIHBvc2l0aW9uOnJlbGF0aXZlO1xyXG4gICAgbGVmdDoyMDBweDtcclxuICAgIG1pbi13aWR0aDoxMDAwcHg7ICBcclxuICAgIGRpc3BsYXk6LW1zLWlubGluZS1ncmlkOyAgXHJcbiAgICBkaXNwbGF5OmlubGluZS1ncmlkXHJcbn1cclxuXHJcbi8qU2VhcmNoIGFuZCBGSWx0ZXIgc2lkZSBiYXIqL1xyXG5cclxuLnBob25lcy1zZWFyY2hcclxue1xyXG4gICAgcG9zaXRpb246cmVsYXRpdmU7XHJcbiAgICB0b3A6My42ZW07XHJcbiAgICBsZWZ0Oi04cHg7XHJcbiAgICBib3JkZXI6MXB4IHNvbGlkIGxpZ2h0Z3JleTtcclxuICAgIHdpZHRoOjI5JTtcclxuICAgIG1heC13aWR0aDoyMDBweDtcclxufVxyXG4ucGhvbmVzLXNlYXJjaDpob3Zlciwuc2VhcmNoQWN0aXZlQ2xhc3MsIC5maWx0ZXItYnkgc2VsZWN0OmhvdmVyXHJcbntcclxuICAgIGJvcmRlcjoxcHggc29saWQgcmdiKDMxLCAxMzEsIDIyNCk7XHJcbn1cclxuLnBob25lcy1zZWFyY2ggaW5wdXRcclxue1xyXG4gICAgIGJvcmRlcjpub25lO1xyXG4gICAgIG91dGxpbmU6bm9uZTsgXHJcbn1cclxuLmZpbHRlci1ieSBzZWxlY3Rcclxue1xyXG4gICAgcG9zaXRpb246cmVsYXRpdmU7XHJcbiAgICB0b3A6NC4yZW07XHJcbiAgICBsZWZ0Oi04cHg7XHJcbiAgICBtaW4taGVpZ2h0OjI1cHg7XHJcbiAgICB3aWR0aDoyOSU7XHJcbiAgICBtYXgtd2lkdGg6MjAwcHg7XHJcbiAgICBoZWlnaHQ6LjdlbTtcclxuICAgIGJvcmRlcjoxcHggc29saWQgbGlnaHRncmV5O1xyXG59XHJcblxyXG4vKiBMaXN0IG9mIHBob25lcyAqL1xyXG4ucGhvbmVzLWNvbnRhaW5lclxyXG57XHJcbiAgICBwb3NpdGlvbjpyZWxhdGl2ZTtcclxuICAgIGxlZnQ6MjAwcHg7XHJcbiAgICB3aWR0aDo2OSU7XHJcbiAgICBtYXgtd2lkdGg6NjUwcHg7XHJcbiAgICBtaW4td2lkdGg6NTAwcHg7XHJcbiAgICBcclxufVxyXG4ucGhvbmUtZmllbGRcclxue1xyXG4gICAgIGhlaWdodDoxMjBweDtcclxuICAgICBib3JkZXI6MXB4IHNvbGlkIGxpZ2h0Z3JleTtcclxuICAgICBtYXJnaW4tYm90dG9tOi43NWVtO1xyXG4gICAgIFxyXG4gICAgIHBhZGRpbmctcmlnaHQ6MS41ZW07ICBcclxuICAgICAgXHJcbn1cclxuXHJcbi5waG9uZS1maWVsZCBpbWdcclxue1xyXG4gICAgbWFyZ2luLXRvcDouNWVtO1xyXG4gICAgbWFyZ2luLXJpZ2h0Oi45ZW07XHJcbiAgICBmbG9hdDpsZWZ0O1xyXG4gICAgcGFkZGluZy1sZWZ0OjEuNWVtXHJcbn1cclxuLnBob25lLWZpZWxkLW5hbWVcclxue1xyXG4gICBtYXJnaW4tdG9wOi41ZW07XHJcbiAgIGZvbnQtc2l6ZTptZWRpdW07XHJcbiAgIGZvbnQtd2VpZ2h0OjYwMDtcclxufVxyXG4ucGhvbmUtZmllbGQtbmFtZVxyXG57XHJcbiAgICBoZWlnaHQ6OCVcclxufVxyXG4vKiMgc291cmNlTWFwcGluZ1VSTD1kYXRhOmFwcGxpY2F0aW9uL2pzb247YmFzZTY0LGV5SjJaWEp6YVc5dUlqb3pMQ0p6YjNWeVkyVnpJanBiSW5Cb2IyNWxjeTVqYjIxd2IyNWxiblF1WTNOeklsMHNJbTVoYldWeklqcGJYU3dpYldGd2NHbHVaM01pT2lKQlFVRkJPenRKUVVWSkxHdENRVUZoTzBsQlEySXNWMEZCUVR0SlFVTklMR2xDUVVGQk8wbEJRMGNzZDBKQlFXMUNPMGxCUVc1Q0xHMUNRVUZ0UWp0RFFVTjBRanM3UVVGRlJDdzRRa0ZCT0VJN08wRkJSVGxDT3p0SlFVVkpMR3RDUVVGclFqdEpRVU5zUWl4VFFVRlRPMGxCUTFRc1ZVRkJWVHRKUVVOV0xESkNRVUV5UWp0SlFVTXpRaXhWUVVGVk8wbEJRMVlzWjBKQlFXZENPME5CUTI1Q08wRkJRMFE3TzBsQlJVa3NiVU5CUVcxRE8wTkJRM1JETzBGQlEwUTdPMHRCUlVzc1dVRkJXVHRMUVVOYUxHRkJRV0U3UTBGRGFrSTdRVUZEUkRzN1NVRkZTU3hyUWtGQmEwSTdTVUZEYkVJc1UwRkJVenRKUVVOVUxGVkJRVlU3U1VGRFZpeG5Ra0ZCWjBJN1NVRkRhRUlzWjBKQlFXZENPMGxCUTJoQ0xESkNRVUV5UWp0RFFVTTVRanM3UVVGRlJDeHZRa0ZCYjBJN1FVRkRjRUk3TzBsQlJVa3NhMEpCUVd0Q08wbEJRMnhDTEZkQlFWYzdTVUZEV0N4VlFVRlZPMGxCUTFZc1owSkJRV2RDTzBsQlEyaENMR2RDUVVGblFqczdRMEZGYmtJN1FVRkRSRHM3UzBGRlN5eGhRVUZoTzB0QlEySXNNa0pCUVRKQ08wdEJRek5DTEc5Q1FVRnZRanM3UzBGRmNFSXNiMEpCUVc5Q096dERRVVY0UWpzN1FVRkZSRHM3U1VGRlNTeG5Ra0ZCWjBJN1NVRkRhRUlzYTBKQlFXdENPMGxCUTJ4Q0xGZEJRVmM3U1VGRFdDeHJRa0ZCYTBJN1EwRkRja0k3UVVGRFJEczdSMEZGUnl4blFrRkJaMEk3UjBGRGFFSXNhVUpCUVdsQ08wZEJRMnBDTEdkQ1FVRm5RanREUVVOc1FqdEJRVU5FT3p0SlFVVkpMRk5CUVZNN1EwRkRXaUlzSW1acGJHVWlPaUp3YUc5dVpYTXVZMjl0Y0c5dVpXNTBMbU56Y3lJc0luTnZkWEpqWlhORGIyNTBaVzUwSWpwYklpNXdhRzl1WlhNdFkyOXVkR0ZwYm1WeVhISmNibnRjY2x4dUlDQWdJR2hsYVdkb2REb3hNakJ3ZUR0Y2NseHVJQ0FnSUdKdmNtUmxjam94Y0hnZ2MyOXNhV1FnWjNKbGVUdGNjbHh1ZlNKZGZRPT0gKi8iXX0= */